.navbar {
  width: 100%;
  padding: 10px 0;
  background: black;
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    h1 {
      color: white;
    }
    div {
      display: flex;
      align-items: center;
      ul {
        display: flex;
        list-style-type: none;
        li {
          margin: 0 12px;
          a {
            color: white;
          }
        }
      }
      .cartItems {
        span {
          color: white;
        }
      }
    }
  }
}
